name "test"
version "0.1"

dependencies {
    core path="../core/"
    other_dep path="../other_dep/"
}

targets {
    main "./src/main.fr"
    babies "./src/babies.fr" func="babies" //outfile="./out/siema.js"
}
